@import url('https://rsms.me/inter/inter.css');

:root {
    --c-white: #FFF;
    --c-black: #000;
    --c-off-white: rgb(248, 249, 250);
    --c-off-black: rgba(0, 0, 0, 0.3);

    --a-fade: fade linear 0.3s;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-weight: 400;
}

html {
    font-family: Inter, Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: var(--c-white);
    color: var(--c-black);
    overflow: hidden;
}

a, button {
    font-size: inherit;
    font-weight: inherit;
    border: none;
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
